In [4]:
import pandas as pd 
from astroquery.vizier import Vizier

In [21]:
df = pd.read_csv('YSOs.csv')

df['Reg'].value_counts()

Orion              423
Cep OB3b           346
Mon R2             162
NGC 2068-2071      132
ONC Flank S        116
ONC Flank N         94
N1893               93
RCW 120             92
Eagle               88
LkHalpha 101        80
Cep A               80
Car                 78
GGD 12-15           71
IRAS 20050+2720     61
NGC 7160            56
Sh 2-106            52
Roset               49
Flame               49
Cep C               35
OMC 2-3             34
Serpens Main        33
W3                  32
M17                 31
Serpens South       31
W40                 30
RCW36               27
DR21                26
LDN 1251B           22
N3576               19
W4                  17
N2362               15
Taurus-Auriga       14
IC 5146             13
RCW38                8
Name: Reg, dtype: int64

In [32]:
YSO_SFiNCs = Vizier(catalog="J/ApJS/229/28/table1",row_limit=-1, # 2017ApJS..229...28G
    columns=['*', '_RAJ2000', '_DEJ2000']).query_constraints()[0]
YSO_SFiNCs.columns

# # # 
YSO_SFiNCs = YSO_SFiNCs[['_RAJ2000','_DEJ2000','Reg']].to_pandas()
# # YSO_SFiNCs['Reg'].value_counts()

YSO_MYStIX = Vizier(catalog="J/ApJS/209/32/reg",row_limit=-1, # 2013ApJS..209...32B
    columns=['*', '_RAJ2000', '_DEJ2000']).query_constraints()[0]
# YSO_MYStIX.columns

# # 
YSO_MYStIX = YSO_MYStIX[['_RAJ2000','_DEJ2000','Reg']].to_pandas()
# print(YSO_MYStIX['Reg'].value_counts())
# YSO_MYStIX = YSO_MYStIX[YSO_MYStIX['SubClass']!=-1].reset_index(drop=True)

df_regions = pd.concat([YSO_SFiNCs, YSO_MYStIX], ignore_index=True, sort=False)

df_regions = df_regions[df_regions['Reg'].isin(df['Reg'])].reset_index(drop=True)

In [33]:
df.loc[~df['Reg'].isin(df_regions['Reg']), ['ra','dec','Reg','ref']] #df_regions

             ra        dec            Reg                  ref
2417  64.571279  28.478407  Taurus-Auriga  2011ApJS..196....4R
2418  65.897481  25.050785  Taurus-Auriga  2011ApJS..196....4R
2419  67.900526  18.228648  Taurus-Auriga  2011ApJS..196....4R
2420  67.909949  18.232608  Taurus-Auriga  2011ApJS..196....4R
2421  68.393989  24.351576  Taurus-Auriga  2011ApJS..196....4R
2422  68.414089  17.864487  Taurus-Auriga  2011ApJS..196....4R
2423  70.033445  26.090404  Taurus-Auriga  2011ApJS..196....4R
2424  70.320088  28.666631  Taurus-Auriga  2011ApJS..196....4R
2425  73.598600  17.164924  Taurus-Auriga  2011ApJS..196....4R
2426  73.795752  30.366411  Taurus-Auriga  2011ApJS..196....4R
2427  74.692793  29.843509  Taurus-Auriga  2011ApJS..196....4R
2494  64.633550  28.520985  Taurus-Auriga  2011ApJS..196....4R
2495  66.769527  26.104405  Taurus-Auriga  2011ApJS..196....4R
2496  68.477934  26.224296  Taurus-Auriga  2011ApJS..196....4R

In [42]:
for reg, ra, dec in zip(df_regions['Reg'].values, df_regions['_RAJ2000'].values, df_regions['_DEJ2000'].values):
    
    #print(f'                {{name:"{reg}", coord:"{ra} {dec}"}},')
    print(f'              A.circle({ra},{dec},3./60), // {reg}')

              A.circle(67.5410833,35.2692222,3./60), // LkHalpha 101
              A.circle(86.6814167,0.1261667,3./60), // NGC 2068-2071
              A.circle(83.774125,-5.6521944,3./60), // ONC Flank S
              A.circle(83.8099167,-4.8304167,3./60), // ONC Flank N
              A.circle(83.8476667,-5.1175278,3./60), // OMC 2-3
              A.circle(91.9422917,-6.3815556,3./60), // Mon R2
              A.circle(92.7062917,-6.1960278,3./60), // GGD 12-15
              A.circle(258.096875,-38.4792778,3./60), // RCW 120
              A.circle(277.4845833,1.2198611,3./60), // Serpens Main
              A.circle(277.5106667,-2.0617222,3./60), // Serpens South
              A.circle(301.7773333,27.5006389,3./60), // IRAS 20050+2720
              A.circle(306.8515,37.3819167,3./60), // Sh 2-106
              A.circle(328.37425,47.2562222,3./60), // IC 5146
              A.circle(328.45825,62.5861667,3./60), // NGC 7160
              A.circle(339.7002083,75.1973333,3./60), // LDN 1251B
              A.circle(343.9138333,62.6364444,3./60), // Cep OB3b
              A.circle(344.058875,62.0382778,3./60), // Cep A
              A.circle(346.4559167,62.5075556,3./60), // Cep C
              A.circle(161.079167,-59.889167,3./60), // Car
              A.circle(309.756655,42.327191,3./60), // DR21
              A.circle(274.7,-13.806667,3./60), // Eagle
              A.circle(85.427917,-1.912222,3./60), // Flame
              A.circle(275.195833,-16.171667,3./60), // M17
              A.circle(80.683333,33.411667,3./60), // N1893
              A.circle(109.670833,-24.955,3./60), // N2362
              A.circle(167.9575,-61.303889,3./60), // N3576
              A.circle(83.822083,-5.391111,3./60), // Orion
              A.circle(134.75375,-43.736111,3./60), // RCW36
              A.circle(134.772917,-47.510944,3./60), // RCW38
              A.circle(97.916667,4.963333,3./60), // Roset
              A.circle(36.767083,61.874194,3./60), // W3
              A.circle(38.175,61.45,3./60), // W4
              A.circle(277.8604,-2.0728,3./60), // W40

In [37]:
len(df['Reg'].unique())

34